<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>

		<!--是否以无头浏览器运行(true/false)-->
		<add key="Headless" value="false" />

		<!--出发站(只能填拼音)-->
		<add key="fromStation" value="shanghai" />

		<!--目的站(只能填拼音)-->
		<add key="toStation" value="beijing" />

		<!--日期-->
		<add key="date" value="2021-12-15" />

		<!--列车编号-->
		<add key="trainNo" value="G6" />

		<!--乘车人姓名-->
		<add key="passengerName" value="张三" />

		<!--座位类型（商务座填 business_seat ，一等座填 first_class_seat，二等座填 second_class_seat，高级软卧填 senior_soft_sleeper，-->
		<!--软卧填 soft_sleeper，动卧填 move_sleeper，硬卧填 hard_sleeper，软座填 soft_seat，硬座填 hard_seat，无座填 no_seat）-->

		<add key="seatType" value="second_class_seat" />

		<!--刷新频率（单位毫秒）切勿设计太小，以免封号.默认3秒刷新一次-->
		<add key="refreshTimes" value="3000" />
	</appSettings>
</configuration>